<div class="Header">
  <div class="container">
    <a href="/client/index.html"><img src="/client/assets/logo.png" alt="Letterbootleg"></a>
    <button class="btnOpen" onclick="toggleNav()">&#x2630;</button>
    <nav>
      <button class="btnClose" onclick="toggleNav()">&#x292C;</button>
      <a href="#">Perfil</a>
      <a href="/client/pages/filmes/index.html">Filmes</a>
      <a href="#">Pesquisa</a>
      <a href="/client/pages/log/index.html" class="logar">+ Logar</a>
    </nav>
  </div>
</div>